button {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 40px;
}

div {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    background-color: gray;
    text-align: center;
}

.changeAfter {
    width: 180px;
    height: 90px;
    background-color: orange;
}
